@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/fondo2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto;
}

img {
  max-width: 100vw;
  height: auto;
}
h2 {
  display: none;
}

#letras button {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  margin-top: 7px;
  background-image: url(../imagenes/tecla2.png);
  background-size: 40px 40px;
  background-position: center;
}

#letras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 10px;
  color: rgb(137, 78, 6);
}
#vidas {
  color: rgb(132, 6, 6);
}
h2 {
  margin-top: 1px;
  text-align: center;
  font-size: 2rem;
  color: rgb(50, 28, 1);
  margin-bottom: 0;
}

p {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  height: 3rem;
}

#letras button.teclaErronea {
  background-image: url('../imagenes/tecla2_over.png');
}

#letras button.teclaCorrecta {
  background-image: url('../imagenes/tecla2_down.png');
}

.popup {
  position: fixed;
  background-color: rgba(248, 5, 5, 0.48);
  width: 85%;
  height: 55%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 10px;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.783);
  display: none;
  border-radius: 1rem;
  background-image: url('../imagenes/pngwing.com.png');
  background-size: 30%;
  background-position: 47% 65%;
  background-repeat: no-repeat;
}

.popupContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}
p#popupMensaje {
  font-size: 1.7rem;
  margin-top: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

input {
  width: 130px;
  height: 45px;
  border-radius: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.552);
  color: white;
  outline: none;
}

.popupGanador {
  background-color: rgba(0, 0, 255, 0.552);
  background-image: url('../imagenes/trofeo.png');
  background-repeat: no-repeat;
  background-position: center 60%;
  background-size: 50%;
  color: white;
  max-height: 90%;
}

h3 {
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0;
}
#jugar {
  position: relative;
  border: none;
  outline: none;
  width: 70px;
  height: 25px;
  background-color: #6c9ba2;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-family: sans-serif;
}

button#jugar:active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #024752;
  z-index: -1;
  border-radius: 3px;
  transform: translateY(1px);
}

button#jugar:active {
  transform: translateY(1px);
}

@media (min-width: 426px) {
  .popup {
    position: fixed;
    top: 30%;
    background-color: rgba(248, 5, 5, 0.48);
    left: 50%;
    transform: translate(-50%, -10%);
    width: 35%;
    padding: 20px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.783);
    display: none;
    border-radius: 1rem;
    background-image: url('../imagenes/pngwing.com.png');
    background-size: 30%;
    background-position: 47% 65%;
    background-repeat: no-repeat;
    justify-content: center;
  }
  .popupGanador {
    background-color: rgba(0, 0, 255, 0.552);
    background-image: url('../imagenes/trofeo.png');
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: 50%;
    color: white;
    max-height: 90%;
  }
  p {
    letter-spacing: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    padding: 1.5rem;
  }
}
